GOOGLE_API_KEY=your_openai_api_key_here
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
DATABASE_URL=mysql+pymysql://root:password@localhost:3306/learnshift_ai
JWT_SECRET=Tuw.d6B$3QEch9LA8(<^^b}W{+5#828/2B+nwLtc,gB
JWT_EXPIRES_MINUTES=120
